@(loginForm: Form[User])(implicit messages: Messages)

@import helper._

@main("Bte") {
  <div class="container">
    <div class="row">
      <div class="center_div">
        <h1 class='text-center login-title'>
           Sign in
        </h1>
          @form(routes.UserManagement.login) {
            @inputText(
              loginForm("email"),
              '_label -> "E-mail",
              '_help  -> "",
              'class -> "form-control",
              '_class -> "form-group",
              '_error -> loginForm.globalError
            )
            <input type="submit" value="Login">
          }
      </div>
    </div>
  </div>
}
